S3method("[[",status_list)
S3method(c,status)
S3method(c,status_list)
S3method(empty,"NULL")
S3method(empty,address_list)
S3method(empty,character)
S3method(format,address)
S3method(format,address_list)
S3method(format,article)
S3method(format,id)
S3method(format,status)
S3method(format,status_list)
S3method(format,unparsed)
S3method(length,status_list)
S3method(print,address)
S3method(print,address_list)
S3method(print,article)
S3method(print,id)
S3method(print,report)
S3method(print,status)
S3method(print,status_list)
export(accept)
export(accepted_articles)
export(active_articles)
export(address)
export(article)
export(as.article)
export(new_id)
export(reject)
export(report)
export(update_status)
export(withdraw)
import(stringr)
importFrom(downloader,download)
importFrom(httr,GET)
importFrom(httr,authenticate)
importFrom(httr,content)
importFrom(tools,texi2pdf)
importFrom(utils,adist)
importFrom(whisker,whisker.render)
importFrom(yaml,as.yaml)
