S3method("[",index)
S3method("[[",index)
S3method(c,index)
S3method(format,index)
S3method(length,index)
S3method(print,index)
export(address)
export(article)
export(as.index)
export(find_index)
export(sample)
import(stringr)
importFrom(utils,adist)
